<!DOCTYPE html>
<html lang="en">
<head>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <!--Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


    <title>login</title>
</head>
<body>

<div ng-app="locator" ng-controller="loginController" class="container">

    <div class="col-xs-4">
    </div>



    <!--login form-->
    <div class="col-xs-4 " style="margin:100px 0 5px 0" ng-cloak ng-hide="isLoginFormHidden" >
        <div class="panel-body">
            <h3 class="text-center text-info">Logowanie</h3>
                <div class="row">
                    <input style="margin:0px 0 5px 0" id="username" ng-model="user" class="form-control" type="text"
                           placeholder="Wprowadź nazwe użytkownika">
                </div>
                <div class="row">
                    <input id="password" ng-model="pass" style="margin:0 0 5px 0" type="password"
                           class="form-control"
                           placeholder="Wprowadź hasło">
                </div>
                <div class="row">
                    <button ng-click="signIn()" style="margin:0 0 5px 0" class="btn btn-primary btn-block">
                        Zaloguj się
                    </button>
                    <button ng-click="showOppositeForm()" style="margin:0 0 5px 0" class="btn btn-link btn-block">
                        Nie masz konta? Zarejestruj się!
                    </button>
                </div>
        </div>
        <div class="row" ng-hide="isHidden">
            <div class="alert alert-warning">
                <p class="text-center">{{result}}</p>
            </div>
        </div>
    </div>

    <!--register form-->
    <div class="col-xs-4 " style="margin:100px 0 5px 0" ng-cloak ng-hide="isRegisterFormHidden">
        <div class="panel-body">
                    <h3 class="text-center text-info">Rejestracja</h3>
                <div class="row">
                    <input style="margin:0px 0 5px 0" id="usernameR" ng-model="usernameR" class="form-control" type="text"
                           placeholder="Wprowadź nazwe użytkownika">
                </div>
                <div class="row">
                    <input id="passwordR" ng-model="passR" style="margin:0 0 5px 0" type="password"
                           class="form-control"
                           placeholder="Wprowadź hasło">
                </div>
                <div class="row">
                    <input id="passwordConfirm" ng-model="passConfirm" style="margin:0 0 5px 0" type="password"
                           class="form-control"
                           placeholder="Powtórz hasło">
                </div>
                <div class="row">
                    <input id="email" ng-model="emailR" style="margin:0 0 5px 0" type="email"
                           class="form-control"
                           placeholder="Wprowadź e-mail">
                </div>
                <div class="row">
                    <button ng-click="signUp()" style="margin:0 0 5px 0" class="btn btn-primary btn-block">
                        Zarejestruj się
                    </button>
                </div>
            <div class="row" ng-hide="isHidden">
                <div class="alert alert-warning">
                    <p class="text-center">{{result}}</p>
                </div>
            </div>
        </div>
    </div>


    <div class="col-xs-4">
    </div>


    <script src="index.js"/>

</div>
</body>
</html>

<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>-->
<!--<script src="jquery-3.1.1.min.js"></script>-->
<!--</head>-->
<!--<body>-->
<!--<div ng-app="locator" ng-controller="getUser">-->

<!--<p>{{username}}</p>-->
<!--<p>{{statement}}</p>-->

<!--<form ng-submit="getUser1(userName)">-->
<!--<input type="text" ng-model="userName"/>-->
<!--<input type="submit" value="Pobierz Kolege"/>-->
<!--</form>-->

<!--</div>-->
<!--<script src="index.js">-->
<!--</script>-->

<!--</body>-->
<!--</html>-->
